#toDo-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
}

.li_unclicked {
    font-size: medium;
    list-style-type: '❌';
    cursor: pointer;
}

.li_clicked{
    list-style-type: '✔';
}